<!DOCTYPE HTML>

<html>
<head>
  <title>City Emergency Relief</title>
  <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    form {border: 3px solid orange;}
    a:visited { text-decoration: none; color:white; text-align:center}
  </style>
  <h2 style="color:white;text-align:center" size="8">Welcome!</h2>
  <font face="Arial" color="white" size="4"><center>City Emergency Relief: Safety At Your Fingertips</center></font>
</head>
<body style="background-color:#0D2758">
    <br>
    <center><a style="color:white" href="/login" style="text-align:center">login</a></center>
    <center><a style="color:white" href="/register" style="text-align:center">register</a></center>
</body>
</html>